

    <div class="postExcerpt" style="clear: both;overflow: hidden;">
        <div class="list">
            {{! This is the post loop - each post will be output using this markup }}
            {{#foreach posts}}
                <div class="item row">
                    <div class="summary">
                      <h3>
                        <a href="{{url}}" target="_blank">{{{title}}}</a>
                      </h3>
                      <p class="subhead">
                        {{date format="YYYY年M月DD日"}}
                        &nbsp;&nbsp;
                        {{tags prefix="  标签："}}
                      </p>
                      {{#if image}} 
                        <div class="post-background">
                          <img src="{{image}}" width="100%" />
                        </div>
                      {{/if}}
                      <div class="description">
                        <p>{{content words="30"}}</p> 
                        <a href="{{url}}" class="look-more" target="_blank">阅读全文</a>         
                      </div>
                    </div>

                </div>
            {{/foreach}}
        </div>
    </div>

{{! Previous/next page links - displayed on every page }}
{{pagination}}
